LASTFM_API_KEY=e378145b1e2b44eb782e251f6baa2ff9
LASTFM_API_SECRET=43aa6cccde0beba1f8deb9a09d0f5bda
LASTFM_USERNAME=your_lastfm_username
LASTFM_SESSION_KEY=

BLUESKY_HANDLE=yourname.bsky.social
BLUESKY_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
